:root {
    --primary-color: #3FD0D4;
    --header-height: 10vh; 
}

.hover-line {
    transition: all ease-in 0.2s;
    color: #333;
    position: relative;
}

.hover-line::before {
    content: '';
    display: block;
    height: 1.5px;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 100%;
    transition: right linear 0.2s;
}

    /* Selection color */
.introduce__header-trynow::selection,
.introduce__heading::selection,
.introduce__desc::selection,
.top-reviews__heading::selection,
.top-reviews__desc::selection,
.services__header-cache::selection,
.services__header-main::selection,
.services__header-desc::selection,
.service-item__name::selection,
.service-item__desc::selection {
    background-color: var(--primary-color);
    color: #fff;
    }